h1{
	color: black;
}
a{
	text-align: center;
	font-family: arial;
}
body{
	background-color: yellow;
	font-family: arial;
}
header{
	background-color: black;
}
.p1{
	color: white
}
.p2{
	color: white;
}